body {
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    background-color: green;
}
input{
  width: 70px;
  height: 25px;
  font-size: 17px;
}
button{
  background-color: lightseagreen;
  width: 100px;
  height: 40px;
  margin: 10px;
}
h1{
   text-transform: uppercase; 
   color: gold;
}
h2{
  letter-spacing: 3px;
  color: white ;
}
h3{
  color: white ;
  text-transform: uppercase;
}
